<!--新規投稿-->
<div class="post">
  <h3>New book</h3>

  <!--エラーメッセージ-->
  <%= render template: "books/_error_message" %>

  <div class="new-form">
    <!--form_with使用-->
    <%= form_with model:@book, url:'/books', local: true do |f| %>
      <div class="form-content">
        <p>Title</p>
        <%= f.text_field :title %>
      </div>
      <div class="form-content">
        <p>Body</p>
        <%= f.text_area :body %>
      </div>
      <div class="bottom">
        <%= f.submit 'Create Book' %>
      </div>
    <% end %>
    </div>

</div>
