<div class="pages edit-pages">
  <h1>Editing Book</h1>

  <div class="new-form">
    <!--form_with使用-->
    <%= form_with model:@book, url:"/books/#{@book.id}", local:true do |f| %>
      <div class="form-content">
        <p>Title</p>
        <%= f.text_field :title %>
      </div>
      <div class="form-content">
        <p>Body</p>
        <%= f.text_area :body %>
      </div>
      <div class="bottom"><%= f.submit 'Update Book' %></div>
    <% end %>
  </div>

  <div class="link">
    <%= link_to 'Show' , book_path %>
    <p>|</p>
    <%= link_to 'Back', books_path %>
  </div>
</div>

